<div class='card-container'>
  <h3 class='user-title'>{{this.firstname}} {{this.lastname}}</h3>
  <div class='user-item-info-container'>
    <p><a href='email:{{this.email}}'>{{this.email}}</a></p>
    <p><a href='tel:{{this.phone}}'>{{this.phone}}</a></p>
    <p>{{this.birthday}}</p>
    <p>{{this.gender}}</p>
    <p><a href='{{this.website}}'>{{cutWebSite this.website}}</a></p>
  </div>
</div>